# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.del

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
# Usually these files are written by a python script from a .spec file
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
*.pot
*.pyc

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype
.pytype/

# Pylint
pylint-report.txt
pylint-global.rc

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Virtual environment
venv/
.venv/
ENV/
env/
.env/
*.env

# Other
*.DS_Store
*.swp
*.swo
*.sublime-workspace
*.sublime-project
